<div class="container-login">
  <form class="form-signin needs-validation text-center" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <img class="mb-4" src="/assets/svgs/guitar-logo.svg" alt="" width="72"
      height="72">
    <h1 class="h3 mb-3 font-weight-normal" [style.color]="'#cd5c5c'">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="email" class="form-control" formControlName="email"
      placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" formControlName="password" name="password" class="form-control"
      placeholder="Password" required>
    <div class="checkbox mb-3 mt-3">
      <label>
        <input type="checkbox" value="remember-me"> Lembra-se
      </label>
    </div>
    <button [disabled]="!loginForm.valid" class="btn btn-lg btn-danger-login btn-entrar btn-block" type="submit">
      Entrar
      <i class="fa fa-sign-in"></i>
    </button>
    <div class="nao-tem-login">
      <p class="mt-2 mb-3 text-muted border-bottom-dashed" [routerLink]="['/auth/signup']">
        Não tem login? Cadastre-se agora!
      </p>
    </div>
    <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Quero me Registrar</button> -->
    <p class="mt-5 mb-3 text-muted">© 2022-{{currentYear}}</p>
  </form>
</div>

<!-- 

<div class="container">
  <div class="col-md-6 offset-md-3">
    <h3>Login</h3>
    <hr />
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" />
        <div
          *ngIf="
            loginForm.get('email')?.touched && loginForm.get('email')?.invalid
          "
        >
          <div class="text-danger" *ngIf="loginForm.get('email')?.errors">
            Email is required
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
        >
          <div class="text-danger">Password is required</div>
        </div>
      </div>

      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>  -->