.text-white {
  color: #e0d7ce;
}

.cursor-pointer {
  cursor: pointer;
}

.container-cart {
  margin-right: 20px;

  .badge-cart {
    position   : absolute;
    margin-left: -7px;
    margin-top : -6px;
    font-size: 11px;
  }
}

.dropdown-item.logout {
  display        : flex;
  justify-content: space-between;

  i {
    line-height: 22px;
  }
}

.active {
  font-weight  : bold !important;
  color        : indianred !important;
  border-bottom: 2px solid indianred !important;
}

.title-menu {
  color         : indianred;
  font-weight   : bold;
  font-size     : 23px;
  letter-spacing: 2px;

  &:hover {
    color: indianred !important;
  }

  img:hover {
    transform: scale(1.2);
  }
}

.icon-cart {
  font-size: 25px;
  line-height: 35px;
}