<header>
  <div class="logo">
    <img class="pointer" src="/assets/images/electric.png" alt="logo" [routerLink]="['']" />
    <h5 class="pointer" [routerLink]="['']">Guiotti</h5>
  </div>
  <div>
    <ul>
      <li>
        <a [routerLink]="['/products']"> Products </a>
      </li>
      <li>
        <img src="/assets/images/case.png" alt="cart" />
        <ng-container *ngIf="(cart$ | async) as cart">
          <span class="badge" *ngIf="cart.length > 0"> {{ cart.length }}</span>
        </ng-container>
      </li>
    </ul>
  </div>
</header>