.text-white {
  color: #e0d7ce;
}

.cursor-pointer {
  cursor: pointer;
}

.container-cart {
  margin-right: 20px;

  .badge-cart {
    position   : absolute;
    margin-left: -10px;
    margin-top : 4px;
  }
}

.dropdown-item.logout {
  display        : flex;
  justify-content: space-between;

  i {
    line-height: 22px;
  }
}

.active {
  font-weight  : bold !important;
  color        : indianred !important ;
  border-bottom: 2px solid indianred !important;
}