<main>
  <ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of bannersImage; index as i">
      <div class="carousel-caption">
        <h3>My slide {{i + 1}} title</h3>
      </div>
      <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img [src]="img" alt="My image {{i + 1}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>

  <ng-lottie 
    *ngIf="!products$" 
    [options]="options" 
  ></ng-lottie>

  <!-- products list section -->
  <section *ngIf="(products$ | async) as prods">
    <app-product-list [products]="prods"></app-product-list>
  </section>

  <router-outlet></router-outlet>

</main>