<div class="guitar">
  <div class="card shadow p-3 mb-5 bg-body" style="width: 18rem;">
    <img [src]="product.image" [alt]="product.name" class="guitar-image">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <button *ngIf="!inCart" class="guitar-actions__add" (click)="addToCart(product)">
        <img src="/assets/svgs/cart.svg" alt="AddToCart">
        Add Carrinho
      </button>

      <button *ngIf="inCart" class="guitar-actions__remove" (click)="removeFromCart(product)">
        <img src="/assets/svgs/cart.svg" alt="RemoveToCart">
        Remover Carrinho
      </button>
    </div>
  </div>
</div>